body{
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.head{
    padding: 15px;
}

.head-title{
    color: hsl(179, 62%, 43%);
}

.head-text{
    color: hsl(218, 22%, 67%);
}